.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.body {
display: grid;
position: relative;
grid-template-rows: 30% 70%;
width: 100%;
height: 1550px;
background-color: #e4e4e4;
margin-top:-10%;
z-index: 102;
margin-left:0.4%;
}

.body-section-first {
display: grid;
grid-template-columns: 25% 25% 25%;  
justify-content: center;
gap:30px;
margin-top: 5%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

    button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border-color: transparent;
    background-color: rgb(41, 48, 48);
    color: rgb(255, 255, 255);
    font-weight: 700;
    box-shadow: 0.5px 3px 7px 0.5px rgb(181, 181, 181);
    }
    button:active {
    background-color: #6ce8a2;
    transform: scale(0.95); 
        }
        .first {
          display: grid;
          grid-template-columns: 25% 75%;
          position: relative;
          left:10%;
          margin-top:6%;
          width:330px;
          height:150px;
          background-color: #ffffff;
          /*box-shadow: 3px 3px 7px rgba(138, 138, 138, 0.5) inset;*/
          border:#c1e9d2;
          border-radius: 20px;
          transition: all 0.3s ease;  
          justify-content: center;
        }

        .second {
          left:40%;
          margin-top: -17.3%; }

        .btnfirst {
          position: relative;
          top:30%;
          left:17%; }


          .appsova {
          width:300px; }

          .bsffimg {
          margin-top:50%;
          width:30px;
          margin-left:20px; } 

          .bsfftext {
          margin-top: 10%;
          margin-left:10px;
          }

          .bsffimgreal {
          width: 50px; }



.body-section-second {
display: grid;
position: relative;
grid-template-columns: 50% 50%;
left:10%;
}

  .bssff-first {
  display: grid;
  position: relative;
  width: 200px;
  height: 200px;
  gap:0px;
  }

  .bssff-second {
  display: grid;
  position: relative;
  width: 400px;
  height: 120px;
  gap:0px;


  }

    .bss-first {
    display: grid;
    grid-template-rows: 15% 35% 15% 35%;


      }

      .bss-first-text {
      font-size:30px;
      }

      .bss-first-h1 {
      display: grid;
      position: relative;
      font-size:60px; 
      margin-top: -5%; }

      .parsley {
      position: relative;
      margin-left:-15%;
      transform: translateY(10px); }

      .bss-first-btn {
      margin-top: 50px; }

        .bssf-fourth-done {
        display:grid;
        background-color: #052d13;
        width:35px;
        height:35px;
        color: #ffffff;
        border-radius: 10px;
        font-size: 20px; 
        font-weight: 700;
        justify-content: center;
        align-items: center;
    }


    .bss-first-fourth {
      display: grid;
      position: relative;
      grid-template-columns: 50% 50%;
      height: 200px;
      margin-top: 20px;

    }

    .bssffftext  {
      display:inline-flex;
      height: 50px;
      width: 400px;
      gap:10px;

    }

  .textbssf {
    display: inline;
    width: 300px;
  }
