@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');


.section-body {
display: grid;
position: relative;
grid-template-columns: 20% 30% 30% 20%;
width: 100%;
height: 1300px;
background-color: #e4e4e4;
font-family: "Jost", sans-serif;
font-optical-sizing: auto;
font-size: 20px;
font-style: normal;

}

.none {
    display: grid;
    width:250px;
}

    .section-body-second {
    display: grid;
    position: relative;
    grid-template-rows: 20% 30% 30% 20%;
    gap:10px;
    height: 700px;
    left:40%;

    }

        .sbs-full {
        display: grid;
        grid-template-rows: 20% 20% 20% 20%;
        width: 100%;
        height: 350px;

        }
            .sbs-full-child {
                display:grid;
                grid-template-columns: 20% 70%;
                width:60%;
                height: 65px;
                background-color: #ffffff;
                border-radius: 10px;
                border-left: 10px solid #05581C;
                font-weight: 700;
                justify-content: center;
                align-items: center;
         }
           ::marker {
    content: "";
  }

.section-third {
display: grid;
position: relative;
grid-template-rows: 10% 5% 5% 70%;
background-color: #05581C;
border-top-right-radius: 15%;
border-top-left-radius: 15%;
margin-top:-20%;
width:100%;
height: 1200px;
}

.section-third-mask {
position: relative;
left:0%;
top:0%;
width:1960px;
}

.st-salad {
position: relative;
left:76%;
z-index: 100; }

    .st-num-one {
    display: grid; 
    position: relative;
    font-size: 70px;
    gap:10px;
    left:30%; 
    width: 800px;
    justify-content: center;

}
     .st-num-one-nut {
        width: 200px;
        margin-top: -20%;
        margin-left: 30%;
    }

    .stnone-text {
        color: #ffffff;
        margin-top: -20%;
    }



.st-num-last {
display: grid; 
grid-template-rows: 20% 80%;
position: relative;
border-radius: 40px;
background-color: #ffffff;
margin-top: 7%;
margin-left: 10%;
width: 80%;
height: 80%;
box-shadow: inset 0px 5px 10px rgba(47, 47, 47, 0.5);
}

    .st-num-lastimg {
    margin-top: 5%;
    margin-left: 16%;
    height: 90px;
    width: 1000px;        }


    .stnl-second {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 100px;
    margin-left: 240px;
     }

     .saladmix {
    width: 550px;
    margin-bottom: 40px;   }

    .stnl-second-child {
    display: grid;
    grid-template-rows: 80% 20%;
    margin-left: 100px;
    }

ul {
    
line-height: 12px; 
margin-left: -5%;}

    .sschild-text {
    justify-content: left;
    margin-top: -5%;
    margin-left: -35%;

    }

    .stnl-second-child-buttons {
    display: grid;
    grid-template-columns: 45% 45%;
    width:550px;
    margin-left: -37%;
    margin-top: -2.5%; }

    .mainbtn {
    background-color: transparent;
    color:#05581C;
    border-color:#05581C;
     }

button {
z-index: 1000;
}